body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--m-yellow);
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}
