@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.m-body {
    font-family: "Outfit", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.m-heading {
    font-family: "Outfit", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}