@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    line-height: 1.5;
}

.m-body-s {
    font-size: 14px;
}

.m-body-m {
    font-size: 16px;
}

.m-heading {
    font-size: 24px;
}

.m-subtle {
    font-weight: 400;
}

.m-strong {
    font-weight: 600;
}
